{% extends "base.html.twig" %}

{% block title %}Mé rezervace{% endblock %}

{% block body %}
    <div class="panel panel-info col-sm-12">
        <div class="panel-heading">
            <h3 class="col-12">Mé rezervace</h3>
        </div>
        <div class="nav-filter mb-2 col-12">
            <span>Zobrazit</span>
            <a class="{% if app.request.get('search') == "new" or app.request.get('search') is null %}active{% endif %}" href="{{ path('myBooking', { 'search': 'new' } ) }}">NOVÉ</a> |
            <a class="{% if app.request.get('search') == "old" %}active{% endif %}" href="{{ path('myBooking', { 'search': 'old' } ) }}">STARÉ</a> |
            <a class="{% if app.request.get('search') == "all" %}active{% endif %}" href="{{ path('myBooking', { 'search': 'all' }) }}">VŠECHNY</a>
            <span>rezervace</span>
        </div>
        {% if pagination is not empty %}
            <div class="count">
                Počet rezervací: <span class="font-weight-bold">{{ pagination.getTotalItemCount }}</span>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-light">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center {% if pagination.isSorted('c.spz') %}sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, 'SPZ', 'c.spz') }}
                        </th>
                        <th></th>
                        <th class="text-primary text-nowrap {% if pagination.isSorted('c.note') %}sorted{% endif %}">
                            <span class="fas fa-sticky-note"></span>
                            <span class="pr-3">{{ knp_pagination_sortable(pagination, 'Vozidlo', 'c.note') }}</span>
                        </th>
                        <th class="text-primary text-nowrap {% if pagination.isSorted('b.reservation_date_from') %}sorted{% endif %}">
                            <span class="fas fa-calendar-alt"></span>
                            <span class="pr-3">{{ knp_pagination_sortable(pagination, 'Rezervace od-do', 'b.reservation_date_from') }}</span>
                        </th>
                        <th class="text-primary text-nowrap {% if pagination.isSorted('b.note') %}sorted{% endif %}">
                            <span class="fas fa-comment-alt"></span>
                            <span class="pr-3">{{ knp_pagination_sortable(pagination, 'Popis', 'b.note') }}</span>
                        </th>
                        <th class="text-center">Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in pagination %}
                        <tr>
                            <td class="text-center align-middle">{{ pagination.getPaginationData.firstItemNumber + loop.index - 1 }}</td>
                            <td class="text-center align-middle">{{ booking.car.spz | upper }}</td>
                            <td class="align-middle"><img class="rounded" height="45" src="{{ vehicles_directory }}/{{ booking.car.imageName }}"></td>
                            <td class="text-wrap align-middle" style="white-space:pre-wrap; max-width: 15%">{{ booking.car.note }}</td>
                            <td class="text-wrap align-middle" style="white-space:pre-wrap;"><span class="font-weight-bold">{{ booking.reservationDateFrom | date("H:i:s") }} </span> {{ booking.reservationDateFrom | date("d.m.Y") }} {# musí se přetypovat na string z date #}
                                <br/><span class="font-weight-bold">{{ booking.reservationDateTo | date("H:i:s") }} </span> {{ booking.reservationDateTo | date("d.m.Y") }}</td>
                            <td class="text-wrap align-middle" style="white-space:pre-wrap; max-width: 15%">{{ booking.note }}</td>
                            <td class="text-center text-nowrap align-middle"><a href="{{ path('deleteBooking', {'id':  booking.id  }) }}" class="btn btn-sm btn-danger"><span class="fas fa-trash"></span> Smazat</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation d-flex justify-content-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}